.ui-tooltip {
    max-width: 20em !important;
}

.ui-tooltip-arrow {
    border-right-color: white !important;
}

.ui-tooltip-text {
    background-color: white !important;
    box-shadow: 0px 0px 18px 3px #e0e0e0 !important;
    color: black !important;
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    padding: 1em !important;
}