<div class="col col-md">
  <div class="main">
    <div class="row justify-content-between">
      <app-last-simulations class="col-md-8"></app-last-simulations>
      <app-add-simulation-card class="col-md-4"
        headerImage="../../../assets/bootstrap-italia/dist/img/new-simulation.svg" (clickButton)="onShowDialog()"
        title="{{'HOME.ADD_SIMULATION_CARD.TITLE' | translate}}" buttonText="{{'HOME.ADD_SIMULATION_CARD.BUTTON_TEXT' | translate}}">
        <span [innerHTML]="'HOME.SIMULATION_CARD.CREAZIONE' | translate"></span>
      </app-add-simulation-card>
    </div>
  </div>
</div>

<div class="col col-md">
  <div class="main">
    <app-all-simulations></app-all-simulations>
  </div>
</div>
