.tabellaSimulazioni label {
  color: #5c6f82;
}

.simulation {
  // margin-top: 2px;
  margin-left: 20px;
  float: right;
}

.ricerca {
  float: left;
}

.simulation-title {
  margin-bottom: 25px;
}