.bottom-btn {
  width: 160px;
}

.rounded-more {
  border-radius: 10px !important;
}

.container-end-banner {
  background-color: #416cad;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
