
.ui-progress-spinner {
  width: 100%;
  text-align: center;
}

.ui-message .ui-widget .ui-corner-all .ui-message-info {
  width: 100% !important;
  min-height: 50px !important;
  text-align: center !important;
}
