:host ::ng-deep {
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  textarea {
    height: 2.0rem !important;
  }
}
.data-emissione {
  font-size: 18px;
  white-space: nowrap;
}

.not-available-date {
  padding-left: 80px;
  padding-top: 55px;
  opacity: .2;
}